@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* VARIABILI */
:root{
    /* colors */
    --bg-main-grey: #F0F2F5;
}


/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
   -webkit-user-select: none; 
   -moz-user-select: none; 
}

ul,ol,menu{
    list-style: none;
}


body {
    background: linear-gradient(#00A884 10%, #E3E2DE 0%);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2.5vh 0;
}


.bg-green{
    background-color: #00A884;
    height: 100px;
}
.bg-grey{
    background-color: #E3E2DE;
    height: 100%;
}

.main-tab{
    max-width: 1550px;
    height: 95vh;
    display: flex;
    margin: 0 auto;   
    background-color: #fff;
}

/********** CONTACT NAV **********/

.contact-aside{
    width: 33.33333333%;
    border-right: 1px solid rgb(231, 231, 231);
}

.top_contact-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: var(--bg-main-grey);

}
.user>img{
    border-radius: 50%;
    width: 40px;
    vertical-align: middle;
}
.user>span{
    vertical-align: middle;
    font-weight: 600;
}

.contact-nav{
    display: flex;
    padding: 10px;
    gap: 20px;
    font-size: 18px;
    color: #54656F;
}

.contact-nav>i{
    cursor: pointer;
    padding: 1px 5px;
}


/* notification-banner */
.notification-banner{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background-color:#8EDAFC;
}
.notification_icon{
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 45px;
    background-color: whitesmoke;
}
.notification_icon>i{
    aspect-ratio: 1;
    font-size: 18px;
    color: #8EDAFC;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
}

.notification_text>div{
    font-size: 14px;
    font-weight: 600;
}
.notification_text>a{
    font-size: 13px;
    color: rgb(34, 34, 34);
}

/* search-bar */
.search_container{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-main-grey);
}
.search_icon{
    padding: 8px 30px;
    background-color: white;
    border: 1px solid lightgrey;
    border-right: none;
    cursor: pointer;
}
.search_bar{
    width: 100%;
    line-height: 2.65;
    border: 1px solid lightgrey;
    padding-left: 5px;
}

/* CONTACT LIST */
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}
.contact.active,
.contact:hover{
    background-color: rgb(223, 221, 221);
}
.contact_info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar{
    border-radius: 50%;
    aspect-ratio: 1;
    width: 55px;
}
.message-date{
    font-size: 10px;
    align-self: flex-start;
    white-space: nowrap;
}
.contact_last-message{
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}



/******** CHAT CONTAINER ********/
/* chat top bar */
.chat_container{
    display: flex;
    flex-direction: column;
    width: 66.66666667%;
    background-color: var(--bg-main-grey);
    justify-content: space-between;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    text-align: center;
    height: calc(100vh);
}
.intro > img{
    width: 50%;   
}
.intro > h3{
    font-size: 2rem;  
    font-weight: 500;
}
.intro > div{
    font-size: 0.9rem; 
    font-weight: 500;
}


.chat_contact-bar{
    background-color: var(--bg-main-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.chat_contact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat_contact>img{
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
}
.contact_name{
    font-size: 15px;
    font-weight: 600;
}
.last-seen{
    color: grey;
    font-size: 12px;
}
.chat_contatct_nav{
    display: flex;
    padding: 10px;
    gap: 20px;
    font-size: 18px;
    color: #54656F;
}
.chat_contatct_nav>i{
    cursor: pointer;
    padding: 1px 5px;
}

/* chat with message */
.chat{
    height: calc(100vh - 185px);
    background-image: url("../assets/mine.jpg");
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.message{
    font-size: 14px;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
}
.message.sent {
    align-self: flex-end;
}
.message.received {
    align-self: flex-start;
}
.text_bar{
    background-color: var(--bg-main-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.text_bar_nav{
    display: flex;
    padding-left: 20px;
    gap: 20px;
    font-size: 18px;
    color: #54656F;
}
.text_bar_nav>i{
    cursor: pointer;
}
.text_bar>input{
    line-height: 3;
    border: none;
    border-radius: 8px;
    width: 80%;
    padding-left: 10px;
}
.text_bar>i{
   padding-right: 20px;
   cursor: pointer;
}